.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 2em 1em;
    background-color: yellowgreen;
    box-shadow: -4px 14px 6px -5px rgba(32, 43, 51, 0.4);
}

.title { 
    text-transform: uppercase;
    color: rgb(238, 12, 12);
}

.nav--list {
    display: flex;
    justify-content: space-around;
    width: 40%;

    & a{
        display: inline-block;
        background-color: whitesmoke;
        color: yellowgreen;
        text-decoration: none;
        font-weight: 600;
        padding: 1em;
        border-radius: 5px;

        &:hover { 
            box-shadow: 5px 5px 5px -5px rgba(34, 60, 80, 0.6) inset;
        }
    }
}